<!-- custom_section.liquid -->

<div class="custom-section">
  <h2>{{ section.settings.title }}</h2>
  <!-- Dodajte HTML elemente i stilove prema potrebi -->
  <input type="text" name="value1" value="{{ section.settings.value1 }}">
  <input type="text" name="value2" value="{{ section.settings.value2 }}">
  <input type="text" name="value3" value="{{ section.settings.value3 }}">
</div>
