{% schema %}
{
  "name": "Custom Block",
  "settings": [
    {
      "type": "text",
      "label": "Custom Field",
      "id": "custom_field",
      "default": "Default Value"
    },
    {
      "type": "color",
      "label": "Background Color",
      "id": "background_color",
      "default": "#ffffff"
    }
    // Dodajte druge postavke po potrebi
  ],
  "presets": [
    {
      "name": "Default",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<div class="section-inner" style="background-color: {{ section.settings.background_color }}">
  <div class="label">Your Custom Block</div>
  <div class="section-right">
    <div class="metafield input">
      {{ section.settings.custom_field }}
    </div>
    <!-- Dodajte druge elemente po potrebi -->
  </div>
</div>
