{% layout true %}
<div class="metafields-demo">
  {% assign metafields = page.metafields.accentuate %}
  
  {% for section in metafields.sections %}
    <div class="section">
      <h2 class="heading">
        {{ section.heading }}
      </h2>
      {% for inner in section.inner %}
        <div class="section-inner">
          <div class="label">{{ inner.label }}</div>
          <div class="section-right">
            <div class="metafield input">
              {% raw %}{{ inner.input }}{% endraw %}
            </div>
            <div class="metafield">
              {{ inner.value }}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>

<style>
  /* Ovde ostavite vaš postojeći CSS stil */
</style>


---
metafields:
  accentuate:
    sections:
      - heading: "Text"
        inner:
          - label: "Simple text"
            input: "{% raw %}Text{% endraw %}"
            value: ""
          - label: "Text (List)"
            input: "{% raw %}{% endraw %}"
            value: ""
      - heading: "Image"
        inner:
          - label: "Single Image"
            input: "{% raw %}{% endraw %}"
            value: ""
          - label: "List of Images"
            input: "{% raw %}{% endraw %}"
            value: ""
      - heading: "Products"
        inner:
          - label: "Single Product"
            input: "{% raw %}{% endraw %}"
            value: ""
          - label: "Multiple Products"
            input: "{% raw %}{% endraw %}"
            value: ""
      - heading: "JSON"
        inner:
          - label: "JSON Object"
            input: "{% raw %}{% endraw %}"
            value: ""
      - heading: "Metaobject"
        inner:
          - label: "Single Metaobject"
            input: "{% raw %}{% endraw %}"
            value: ""
---
