<!-- metafield_component.liquid -->
<div class="section-inner">
  <div class="label">Text</div>
  <div class="section-right">
    <div class="metafield input">
      {% raw %}{{ page.metafields.custom_field }}{% endraw %}
    </div>
    <div class="metafield">
      {{ page.metafields.custom_field }}
    </div>
  </div>
</div>
