{% layout true %}
<div class="metafields-demo">
    
    <div class="section-inner">
      <div class="label">Univerzalni Metafield</div>
      <div class="section-right">
        <div class="metafield input">
          {% raw %}{{ page.metafields.custom_field }}{% endraw %}
        </div>
        <div class="metafield">
          {{ page.metafields.custom_field }}
        </div>
      </div>
    </div>
</div>

<style>
  .metafields-demo {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
  }

  .section {
    background: #94a3b8;
    border: 1px solid #64748b;
    border-radius: 1px;
    padding: 2px 5px 2px;
    padding-x: 5px
    width: 100%;
    max-width: 1120px;
    margin: auto;
  }

  .heading {
    margin-top: 0;
  }

  .label {
    min-width: 100px;
  }

  .section-inner {
    display: flex;
    border-radius: 5px;
    column-gap: 20px;
    background-color: #475569;
    padding: 20px;
    color: white;
    align-items: center;
    justify-content: center:
    display: flex
  }

  .section-inner + .section-inner {
    margin-top: 15px;
  }

  .section-right {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .metafield {
    color: #1e293b;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: white;
    overflow-wrap: anywhere;
  }

  .metafield.input {
    font-family: monospace;
    background-color: black;
    color: white;
  }
</style>
